<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright Xeno Innovations, Inc. 2011-2017
 * Author:  Damian Suess
 * Date:    2017-3-3
 * File:    packages.config
 * Description:
 *  WinForms wrapper for AvalonEdit (WPF)
 * To Do:
 * Change Log:
 *  2017-0303 * Initial creation
-->
<packages>
  <package id="AvalonEdit" version="5.0.3" targetFramework="net452" />
</packages>