<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright Xeno Innovations, Inc. 2017
 * Author:  Damian Suess
 * Date:    2017-10-16
 * File:    packages.config
 * Description:
 *  
 * To Do:
 * Change Log:
 *  2017-1016 * Initial creation
-->
<packages>
  <package id="AvalonEdit" version="5.0.4" targetFramework="net452" />
</packages>